/*----------------------------------------------------------------------------------------------------------------------- *    BASE
\*----------------------------------------------------------------------------------------------------------------------- */
/* Reset */
* {
  box-sizing: border-box; }

html,
body,
ul,
li,
figure {
  margin: 0;
  padding: 0; }

html,
body,
main,
ul {
  content: "";
  display: table;
  clear: both;
  width: 100%; }

html,
body {
  font-family: "Roboto Mono", sans-serif;
  font-size: 100%;
  color: #333; }

html {
  height: 100%; }

body {
  min-height: 100%; }

figcaption {
  color: #FFF; }

/*----------------------------------------------------------------------------------------------------------------------- *    MODULES
\*----------------------------------------------------------------------------------------------------------------------- */
/* Header */
header.page-header {
  height: 100px;
  margin-top: 50px;
  padding: 28px;
  text-align: center; }
  @media screen and (min-width: 769px) {
    header.page-header {
      margin-top: 75px; } }

input[type='search'],
.sort-button-split {
  font-family: "Roboto Mono", sans-serif;
  font-size: .875rem;
  padding: 10px;
  border: 2px solid #BBB;
  border-radius: 4px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

@media screen and (max-width: 769px) {
  input[type='search'] {
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-color: white;
    border-radius: 0; } }

@media screen and (min-width: 769px) {
  input[type='search'] {
    width: 460px;
    height: 44px; } }

/* Main container */
.sort-filter {
  font-size: 0;
  margin: 0 0 60px 0; }
  .sort-filter input[type='radio'] {
    display: none; }
  .sort-filter .sort-button-split {
    display: inline-block;
    margin: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .sort-filter .sort-button-split[data-state='selected'] {
      background-color: #BBB; }
    .sort-filter .sort-button-split[data-state='deselected'] {
      color: #BBB;
      background-color: #FFF; }
      .sort-filter .sort-button-split[data-state='deselected']:hover {
        color: #333;
        background-color: #EAEAEA; }
    .sort-filter .sort-button-split:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
    .sort-filter .sort-button-split:nth-last-child(2) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
    @media screen and (max-width: 769px) {
      .sort-filter .sort-button-split {
        font-size: 20px;
        width: 50%;
        border-right-width: 0;
        border-left-width: 0;
        border-radius: 0; } }
  @media screen and (max-width: 769px) {
    .sort-filter {
      position: fixed;
      top: 47px;
      left: 0;
      width: 100%;
      height: auto;
      baseline-shift: 40; } }

main.container {
  text-align: center; }
  main.container h1 {
    margin: 0 0 30px 0; }
    @media screen and (min-width: 1025px) {
      main.container h1 {
        margin: 0 0 60px 0; } }
  main.container .label-filter {
    display: inline;
    margin-right: 10px; }

/* Image gallery */
#image-gallery li {
  list-style: none; }

li.gallery-item {
  float: left;
  overflow: hidden;
  list-style: none; }
  li.gallery-item h2 {
    font-size: 1.1em; }
    li.gallery-item h2 + .meta {
      margin-top: 0; }
  li.gallery-item a {
    display: block; }
    li.gallery-item a img {
      display: block;
      width: 100%; }

/* Lightbox overlay */
#js-image-overlay {
  position: fixed;
  z-index: 1000;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 46, 46, 0.95); }

/* Overlay content wrapper */
#js-overlay-wrapper {
  position: absolute;
  width: 100%;
  max-width: 960px;
  padding: 50px;
  background-color: #FFF; }
  @media screen and (max-width: 1025px) {
    #js-overlay-wrapper {
      min-height: 100%; } }
  @media screen and (min-width: 1025px) {
    #js-overlay-wrapper {
      top: 15%;
      left: 50%;
      margin-bottom: 120px;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0); } }
  #js-overlay-wrapper .close-overlay {
    position: absolute;
    z-index: 1100;
    top: 15px;
    right: 15px;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    text-indent: -10000px;
    border: 0;
    background: url("../assets/close-x.svg") center no-repeat;
    background-color: transparent;
    background-size: 100%; }

/* Overlay data wrapper */
#js-data-wrapper {
  width: 100%;
  margin: 50px 0 0 0;
  text-align: center; }
  #js-data-wrapper h1 {
    margin: 0 0 25px 0; }
  #js-data-wrapper p {
    margin: 0 0 5px 0; }
  #js-data-wrapper .meta {
    margin-bottom: 30px;
    color: #BBB; }
  #js-data-wrapper .play-list {
    padding: 25px 0 0 0; }
  #js-data-wrapper .album-track {
    list-style: none; }
    #js-data-wrapper .album-track:not(:last-child) {
      margin-bottom: 10px; }
  #js-data-wrapper #itunes-button {
    display: block;
    margin-top: 35px;
    opacity: .8; }
    #js-data-wrapper #itunes-button:focus, #js-data-wrapper #itunes-button:hover {
      opacity: 1;
      border: none; }
  @media only screen and (min-width: 769px) {
    #js-data-wrapper {
      margin: 0 0 0 50px; } }

.carousel-control {
  position: fixed;
  z-index: 1500;
  top: 50%;
  display: block;
  width: 50px;
  height: 50px;
  padding: 0;
  cursor: pointer;
  -webkit-transition: background .2s;
  transition: background .2s;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border: 0;
  background-color: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
  .carousel-control.left-control {
    left: 0;
    text-indent: -10000px;
    background: url("../assets/arrow-prev-black.svg") center no-repeat;
    background-size: 20px 20px; }
    .carousel-control.left-control:focus, .carousel-control.left-control:hover {
      outline: 0;
      background: url("../assets/arrow-prev-black.svg") 25% center no-repeat;
      background-size: 20px 20px; }
  .carousel-control.right-control {
    right: 0;
    text-indent: -10000px;
    background: url("../assets/arrow-next-black.svg") center no-repeat;
    background-size: 20px 20px; }
    .carousel-control.right-control:focus, .carousel-control.right-control:hover {
      outline: 0;
      background: url("../assets/arrow-next-black.svg") 75% center no-repeat;
      background-size: 20px 20px; }
  @media only screen and (min-width: 1025px) {
    .carousel-control.left-control {
      left: calc(50% - 512px);
      -webkit-transform: translate(-100%, -50%);
              transform: translate(-100%, -50%);
      background: url("../assets/arrow-prev.svg") center no-repeat;
      background-size: 40px 40px; }
      .carousel-control.left-control:focus, .carousel-control.left-control:hover {
        background: url("../assets/arrow-prev.svg") 25% center no-repeat;
        background-size: 40px 40px; }
    .carousel-control.right-control {
      right: calc(50% - 512px);
      -webkit-transform: translate(100%, -50%);
              transform: translate(100%, -50%);
      background: url("../assets/arrow-next.svg") center no-repeat;
      background-size: 40px 40px; }
      .carousel-control.right-control:focus, .carousel-control.right-control:hover {
        background: url("../assets/arrow-next.svg") 75% center no-repeat;
        background-size: 40px 40px; } }

.album-artwork,
#js-data-wrapper {
  width: 100%; }
  @media only screen and (min-width: 769px) {
    .album-artwork,
    #js-data-wrapper {
      float: left;
      width: calc(50% - 25px); } }

.album-artwork {
  display: block;
  max-width: 415px;
  margin: 0 auto; }

/*----------------------------------------------------------------------------------------------------------------------- *    LAYOUT
\*----------------------------------------------------------------------------------------------------------------------- */
main.container {
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
  padding: 30px 15px 30px 15px; }
  @media screen and (min-width: 1025px) {
    main.container {
      padding: 30px 0 60px 0; } }

li.gallery-item {
  width: calc(100% - 30px);
  margin: 15px; }
  @media screen and (min-width: 481px) {
    li.gallery-item {
      width: calc(50% - 30px);
      margin: 15px; } }
  @media screen and (min-width: 569px) and (max-width: 1025px) {
    li.gallery-item {
      width: calc(33.3333% - 30px); } }
  @media screen and (min-width: 1025px) {
    li.gallery-item {
      width: 200px;
      min-height: 370px;
      margin: 0 30px 60px 30px; } }

.loader {
  position: relative;
  margin: 0px auto;
  width: 100px;
  height: 60px; }

.loader:before {
  content: '';
  display: block;
  padding-top: 100%; }

.circular {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round; }

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124; } }

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124; } }

@-webkit-keyframes color {
  100%,
  0% {
    stroke: #d62d20; }
  40% {
    stroke: #0057e7; }
  66% {
    stroke: #008744; }
  80%,
  90% {
    stroke: #ffa700; } }

@keyframes color {
  100%,
  0% {
    stroke: #d62d20; }
  40% {
    stroke: #0057e7; }
  66% {
    stroke: #008744; }
  80%,
  90% {
    stroke: #ffa700; } }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

input[type='search']:hover, input[type='search']:focus,
a:hover,
a:focus {
  border: 2px solid black;
  outline: none; }

.close-overlay {
  -webkit-transition: scale 0.2s linear;
  transition: scale 0.2s linear; }
  .close-overlay:hover, .close-overlay:focus {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    outline: none; }
