/*----------------------------------------------------------------------------------------------------------------------- *    BASE
\*----------------------------------------------------------------------------------------------------------------------- */
/* Reset */
* {
  box-sizing: border-box; }

html,
body,
ul,
li,
figure {
  margin: 0;
  padding: 0; }

html,
body,
main,
ul {
  content: "";
  display: table;
  clear: both; }

html,
body {
  font-family: "Roboto Mono", sans-serif;
  font-size: 100%;
  color: #333; }

html {
  height: 100%; }

body {
  min-height: 100%; }

figcaption {
  color: #FFF; }

/*----------------------------------------------------------------------------------------------------------------------- *    MODULES
\*----------------------------------------------------------------------------------------------------------------------- */
/* Header */
header.page-header {
  height: 100px;
  padding: 28px;
  text-align: center; }

input[type='search'] {
  font-family: "Roboto Mono", sans-serif;
  font-size: .875rem;
  width: 100%;
  height: 44px;
  padding: 0 10px;
  border: 2px solid #BBB;
  border-radius: 4px;
  appearance: none; }
  @media screen and (min-width: 768px) {
    input[type='search'] {
      width: 460px; } }

/* Main container */
main.container {
  text-align: center; }
  main.container h1 {
    margin: 0 0 60px 0; }

/* Image gallery */
li.gallery-item {
  float: left;
  overflow: hidden;
  list-style: none; }
  li.gallery-item a {
    display: block; }
    li.gallery-item a img {
      display: block;
      width: 100%; }

/* Lightbox overlay */
#js-image-overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 46, 46, 0.95); }

/* Overlay content wrapper */
#js-overlay-wrapper {
  position: absolute;
  width: 100%;
  max-width: 960px;
  margin: 0;
  padding: 50px;
  background-color: white; }
  @media screen and (min-width: 768px) {
    #js-overlay-wrapper {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      #js-overlay-wrapper:after {
        display: table;
        clear: both;
        content: ' '; } }
  #js-overlay-wrapper .close-overlay {
    position: absolute;
    z-index: 1100;
    top: 15px;
    right: 15px;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    text-indent: -10000px;
    border: 0;
    background: url("../assets/close-x.svg") center no-repeat;
    background-color: transparent;
    background-size: 100%;
    appearance: none; }

/* Overlay data wrapper */
#js-data-wrapper {
  max-width: 100%;
  margin-top: 50px;
  text-align: center; }
  #js-data-wrapper h1 {
    margin: 0 0 25px 0; }
  #js-data-wrapper p {
    margin: 0 0 5px 0; }
  @media only screen and (min-width: 768px) {
    #js-data-wrapper {
      margin: 0 0 0 50px; } }

.meta {
  color: #BBB; }

.album-artwork,
#js-data-wrapper {
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .album-artwork,
    #js-data-wrapper {
      float: left;
      width: calc(50% - 25px); } }

.album-artwork {
  display: block;
  max-width: 415px;
  margin: 0 auto; }

.play-list {
  padding: 25px 0 0 0; }
  @media only screen and (min-width: 480px) {
    .play-list {
      columns: 2; } }

.album-track {
  list-style: none; }
  .album-track:not(:last-child) {
    margin-bottom: 10px; }

/*----------------------------------------------------------------------------------------------------------------------- *    LAYOUT
\*----------------------------------------------------------------------------------------------------------------------- */
main.container {
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 15px 30px 15px; }
  @media screen and (min-width: 1024px) {
    main.container {
      padding: 30px 0 60px 0; } }

li.gallery-item {
  width: calc(100% - 30px);
  margin: 15px; }
  @media screen and (min-width: 480px) {
    li.gallery-item {
      width: calc(50% - 30px);
      margin: 15px; } }
  @media screen and (min-width: 568px) and (max-width: 1024px) {
    li.gallery-item {
      width: calc(33.3333% - 30px); } }
  @media screen and (min-width: 1024px) {
    li.gallery-item {
      width: 200px;
      height: 200px;
      margin: 0 30px 60px 30px; } }

/*----------------------------------------------------------------------------------------------------------------------- * STATES
\*----------------------------------------------------------------------------------------------------------------------- */
/* Centerring the hover + focus text */
.js-alt-active {
  position: absolute;
  z-index: 750;
  top: 50%;
  left: 50%;
  display: block;
  margin-right: -50%;
  transform: translate(-50%, -100%);
  text-align: center;
  pointer-events: none;
  color: white; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

input[type='search']:hover, input[type='search']:focus,
a:hover,
a:focus {
  border: 2px solid black;
  outline: none; }
