.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

input[type='search'],
a {
    &:hover,
    &:focus {
        border: 2px solid black;
        outline: none;
    }
}

.close-overlay {
    transition: scale 0.2s linear;
    &:hover,
    &:focus {
        transform: scale(1.2);
        outline: none;
    }
}
