/*----------------------------------------------------------------------------------------------------------------------- *\
    BASE
\*----------------------------------------------------------------------------------------------------------------------- */


/* Reset */

* {
    box-sizing: border-box;
}


html,
body,
ul, 
li, 
figure {
    margin: 0;
    padding: 0;
}

html,
body,
main,
ul {
    content: "";
    display: table;
    clear: both;
}

html,
body {
    font-family: $font-stack;
    font-size: 100%;
    color: $color-dark-gray;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

figcaption {
    color: $color-white;
}
