/*----------------------------------------------------------------------------------------------------------------------- *\
    LAYOUT
\*----------------------------------------------------------------------------------------------------------------------- */

main.container {
    padding: 0 15px 30px 15px;
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
    @media screen and (min-width: #{$bkp-l}) {
        padding: 30px 0 60px 0;
    }
}


/* Medium devices little larger devices and up*/

@media screen and (min-width: 568px) and (max-width: #{$bkp-l}) {
    #image-gallery {
        li.gallery-item {
            width: calc(33.3333% - 30px);
        }
    }
}


/* Larger devices and up */

@media screen and (min-width: #{$bkp-l}) {
    #image-gallery {
        li.gallery-item {
            width: 200px;
            height: 200px;
            margin: 0 30px 60px 30px;
        }
    }
}
