/*----------------------------------------------------------------------------------------------------------------------- *\
    MODULES
\*----------------------------------------------------------------------------------------------------------------------- */


/* Header */

header.page-header {
    z-index: 500;
    height: 100px;
    padding: 28px;
    text-align: center;
    background-color: $color-white;
}

input[type='search'] {
    font-size: 14px;
    width: 100%;
    height: 44px;
    padding: 0 10px;
    border: 2px solid $color-gray;
    border-radius: 4px;
    appearance: none;
    &:focus {
        border-color: black;
        outline: none;
    }
    @media screen and (min-width: #{$bkp-m}) {
        width: 460px;
    }
}


/* Main container */

main.container {
    // background-color: red;
    height: 100vh;
    min-height: 100%;
    text-align: center;
    h1 {
        margin: 0 0 60px 0;
    }
}


/* Image gallery */

li.gallery-item {
    position: relative;
    float: left;
    overflow: hidden;
    width: calc(50% - 30px);
    margin: 15px;
    list-style: none;
    img {
        transform: scale(1.1);
    }
    a {
        display: block;
        &:focus,
        &:hover {
            outline: none;
            img {
                filter: blur(10px);
            }
        }
        img {
            display: block;
            width: 100%;
        }
    }
}


/* Lightbox overlay */

#js-image-overlay {
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
    // bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#2e2e2e, .95);
}


/* Overlay content wrapper */

#js-overlay-wrapper {
    position: absolute;
    width: 100%;
    max-width: 960px;
    margin: 0;
    padding: 50px;
    background-color: white;
    @media screen and (min-width: #{$bkp-m}) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &:after {
            display: table;
            clear: both;
            content: ' ';
        }
    }
    .close-overlay {
        position: absolute;
        z-index: 1100;
        top: 15px;
        right: 15px;
        display: block;
        width: 20px;
        height: 20px;
        padding: 0;
        cursor: pointer;
        text-indent: -10000px;
        border: 0;
        background: url('../assets/close-x.svg') center no-repeat;
        background-color: transparent;
        background-size: 100%;
        appearance: none;
    }
}


/* Overlay data wrapper */

#js-data-wrapper {
    text-align: center;
    max-width: 100%;
    margin-top: 50px;
    h1 {
        margin: 0 0 25px 0;
    }
    p {
        margin: 0 0 5px 0;
    }
    @media only screen and (min-width: #{$bkp-m}) {
        margin: 0 0 0 50px;
    }
}

.meta {
    color: $color-gray;
}

.album-artwork,
#js-data-wrapper {
    width: 100%;
    @media only screen and (min-width: #{$bkp-m}) {
        float: left;
        width: calc(50% - 25px);
    }
}

.album-artwork {
    display: block;
    margin: 0 auto;
    max-width: 415px;
}

.play-list {
    padding: 25px 0 0 0;
    @media only screen and (min-width: #{$bkp-s}) {
        columns: 2;
    }
}

.album-track {
    list-style: none;
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}
