/*----------------------------------------------------------------------------------------------------------------------- *\
    MODULES
\*----------------------------------------------------------------------------------------------------------------------- */


/* Header */

header.page-header {
    height: 100px;
    margin-top: 50px;
    padding: 28px;
    text-align: center;
    @media screen and (min-width: #{$bkp-m}) {
        margin-top: 75px;
    }
}

input[type='search'],
.sort-button-split {
    font-family: $font-stack;
    font-size: .875rem;
    padding: 10px;
    border: 2px solid $color-gray;
    border-radius: 4px;
}

input[type='search'] {
    @media screen and (max-width: #{$bkp-m}) {
        font-size: 20px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        border-color: white;
        border-radius: 0;
    }
    @media screen and (min-width: #{$bkp-m}) {
        width: 460px;
        height: 44px;
    }
}


/* Main container */

.sort-filter {
    font-size: 0;
    margin: 0 0 60px 0;
    input[type='radio'] {
        display: none;
    }
    .sort-button-split {
        display: inline-block;
        margin: 0;
        user-select: none;
        &[data-state='selected'] {
            background-color: $color-gray;
        }
        &[data-state='deselected'] {
            color: $color-gray;
            background-color: $color-white;
            &:hover {
                color: $color-dark-gray;
                background-color: rgba($color-gray, .25);
            }
        }
        &:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        &:nth-last-child(2) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        @media screen and (max-width: #{$bkp-m}) {
            font-size: 20px;
            width: 50%;
            border-right-width: 0;
            border-left-width: 0;
            border-radius: 0;
        }
    }
    @media screen and (max-width: #{$bkp-m}) {
        position: fixed;
        top: 47px;
        left: 0;
        width: 100%;
        height: auto;
        baseline-shift: 40;
    }
}

main.container {
    text-align: center;
    h1 {
        margin: 0 0 30px 0;
        @media screen and (min-width: #{$bkp-l}) {
            margin: 0 0 60px 0;
        }
    }
    .label-filter {
        display: inline;
        margin-right: 10px;
    }
}


/* Image gallery */

#image-gallery li {
    list-style: none;
}

li.gallery-item {
    float: left;
    overflow: hidden;
    list-style: none;
    h2 {
        font-size: 1.1em;
        & + .meta {
            margin-top: 0;
        }
    }
    a {
        display: block;
        img {
            display: block;
            width: 100%;
        }
    }
}


/* Lightbox overlay */

#js-image-overlay {
    position: fixed;
    z-index: 1000;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(#2e2e2e, .95);
}


/* Overlay content wrapper */

#js-overlay-wrapper {
    position: absolute;
    width: 100%;
    max-width: 960px;
    padding: 50px;
    background-color: $color-white;
    @media screen and (min-width: #{$bkp-m}) {
        top: 15%;
        left: 50%;
        margin-bottom: 120px;
        transform: translate(-50%, 0);
    }
    .close-overlay {
        position: absolute;
        z-index: 1100;
        top: 15px;
        right: 15px;
        display: block;
        width: 20px;
        height: 20px;
        padding: 0;
        cursor: pointer;
        text-indent: -10000px;
        border: 0;
        background: url('../assets/close-x.svg') center no-repeat;
        background-color: transparent;
        background-size: 100%;
    }
}


/* Overlay data wrapper */

#js-data-wrapper {
    width: 100%;
    margin: 50px 0 0 0;
    text-align: center;
    h1 {
        margin: 0 0 25px 0;
    }
    p {
        margin: 0 0 5px 0;
    }
    .meta {
        color: $color-gray;
    }
    .play-list {
        padding: 25px 0 0 0;
    }
    .album-track {
        list-style: none;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
    #itunes-button {
        display: block;
        margin-top: 35px;
        opacity: .8;
        &:focus,
        &:hover {
            opacity: 1;
            border: none;
        }
    }
    @media only screen and (min-width: #{$bkp-m}) {
        margin: 0 0 0 50px;
    }
}

.carousel-control {
    position: fixed;
    z-index: 1500;
    top: 50%;
    transform: translate(0, -50%);
    display: block;
    width: 50px;
    height: 50px;
    padding: 0;
    cursor: pointer;
    transition: background .2s;
    border: 0;
    background-color: transparent;
    appearance: none;
    &.left-control {
        left: 0;
        text-indent: -10000px;
        background: url('../assets/arrow-prev-black.svg') center no-repeat;
        background-size: 20px 20px;
        &:focus,
        &:hover {
            outline: 0;
            background: url('../assets/arrow-prev-black.svg') 25% center no-repeat;
            background-size: 20px 20px;
        }
    }
    &.right-control {
        right: 0;
        text-indent: -10000px;
        background: url('../assets/arrow-next-black.svg') center no-repeat;
        background-size: 20px 20px;
        &:focus,
        &:hover {
            outline: 0;
            background: url('../assets/arrow-next-black.svg') 75% center no-repeat;
            background-size: 20px 20px;
        }
    }
    @media only screen and (min-width: #{$bkp-l}) {
        &.left-control {
            left: calc(50% - 512px);
            transform: translate(-100%, -50%);
            background: url('../assets/arrow-prev.svg') center no-repeat;
            background-size: 40px 40px;
            &:focus,
            &:hover {
                background: url('../assets/arrow-prev.svg') 25% center no-repeat;
                background-size: 40px 40px;
            }
        }
        &.right-control {
            right: calc(50% - 512px);
            transform: translate(100%, -50%);
            background: url('../assets/arrow-next.svg') center no-repeat;
            background-size: 40px 40px;
            &:focus,
            &:hover {
                background: url('../assets/arrow-next.svg') 75% center no-repeat;
                background-size: 40px 40px;
            }
        }
    }
}

.album-artwork,
#js-data-wrapper {
    width: 100%;
    @media only screen and (min-width: #{$bkp-m}) {
        float: left;
        width: calc(50% - 25px);
    }
}

.album-artwork {
    display: block;
    max-width: 415px;
    margin: 0 auto;
}
