/*----------------------------------------------------------------------------------------------------------------------- *\
    MODULES
\*----------------------------------------------------------------------------------------------------------------------- */


/* Header */

header.page-header {
    height: 100px;
    padding: 28px;
    margin-top: 75px;
    text-align: center;
}

input[type='search'],
.sort-button-split {
    font-family: $font-stack;
    font-size: .875rem;
    padding: 10px;
    border: 2px solid $color-gray;
    border-radius: 4px;
}

input[type='search'] {
    height: 44px;
    width: 100%;
    @media screen and (min-width: #{$bkp-m}) {
        width: 460px;
    }
}


/* Main container */

.sort-filter {
    font-size: 0;
    margin: 0 0 60px 0;
    input[type="radio"] {
        display: none;
    }
    .sort-button-split {
        margin: 0;
        display: inline-block;
        user-select: none;
        &[data-state="selected"] {
            background-color: $color-gray;
        }
        &[data-state="deselected"] {
            background-color: $color-white;
            color: $color-gray;
            &:hover {
                background-color: rgba($color-gray, .25);
                color: $color-dark-gray;
            }
        }
        &:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        &:nth-last-child(2) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}

main.container {
    text-align: center;
    h1 {
        margin: 0 0 30px 0;
        @media screen and (min-width: #{$bkp-l}) {
            margin: 0 0 60px 0;
        }
    }
    .label-filter {
        display: inline;
        margin-right: 10px;
    }
}


/* Image gallery */

#image-gallery li {
    list-style: none;
}

li.gallery-item {
    float: left;
    overflow: hidden;
    list-style: none;
    a {
        display: block;
        img {
            display: block;
            width: 100%;
        }
    }
}


/* Lightbox overlay */

#js-image-overlay {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(#2e2e2e, .95);
    overflow: scroll;
}


/* Overlay content wrapper */

#js-overlay-wrapper {
    position: absolute;
    width: 100%;
    max-width: 960px;
    padding: 50px;
    background-color: $color-white;
    @media screen and (min-width: #{$bkp-m}) {
        top: 15%;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .close-overlay {
        position: absolute;
        z-index: 1100;
        top: 15px;
        right: 15px;
        display: block;
        width: 20px;
        height: 20px;
        padding: 0;
        cursor: pointer;
        text-indent: -10000px;
        border: 0;
        background: url('../assets/close-x.svg') center no-repeat;
        background-color: transparent;
        background-size: 100%;
    }
}


/* Overlay data wrapper */

#js-data-wrapper {
    width: 100%;
    margin: 50px 0 0 0;
    text-align: center;
    h1 {
        margin: 0 0 25px 0;
    }
    p {
        margin: 0 0 5px 0;
    }
    .meta {
        color: $color-gray;
    }
    .play-list {
        padding: 25px 0 0 0;
    }
    .album-track {
        list-style: none;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
    #itunes-button {
        display: block;
        margin-top: 35px;
        opacity: 0.8;
        &:focus,
        &:hover {
            border: none;
            opacity: 1;
        }
    }
    @media only screen and (min-width: #{$bkp-m}) {
        margin: 0 0 0 50px;
    }
}

.album-artwork,
#js-data-wrapper {
    width: 100%;
    @media only screen and (min-width: #{$bkp-m}) {
        float: left;
        width: calc(50% - 25px);
    }
}

.album-artwork {
    display: block;
    max-width: 415px;
    margin: 0 auto;
}
