/*----------------------------------------------------------------------------------------------------------------------- *\
 STATES
\*----------------------------------------------------------------------------------------------------------------------- */


/* Centerring the hover + focus text */

.js-alt-active {
    position: absolute;
    z-index: 750;
    top: 50%;
    left: 50%;
    display: block;
    margin-right: -50%;
    transform: translate(-50%, -100%);
    text-align: center;
    pointer-events: none;
    color: white;
}
