// Colors
$color-white: #FFF;
$color-light-gray: #EAEAEA;
$color-gray: #BBB;
$color-dark-gray: #333;

// Typography
$root-font-size: 1rem;
$font-stack: 'Roboto Mono', sans-serif;
// Breakpoints
$bkp-xs: '321px';
$bkp-xs-land: '569px';
$bkp-s: '481px';
$bkp-m: '769px';
$bkp-l: '1025px';