// Colors
$color-white: #FFF;
$color-light-gray: #EAEAEA;
$color-gray: #BBB;
$color-dark-gray: #333;

// Typography
$root-font-size: 1rem;
$font-stack: 'Roboto Mono', sans-serif;
// Breakpoints
$bkp-xs: '320px';
$bkp-xs-land: '568px';
$bkp-s: '480px';
$bkp-m: '768px';
$bkp-l: '1024px';